@font-face {
    font-family: 'LcdDot';
    src: url('../../public/assets/fonts/lcd_7/advanced_pixel_lcd-7.ttf') format('truetype');
    /* src: url('../../public/assets/fonts/lcddot/lcddot_tr.ttf') format('truetype'); */
    /* font-weight: normal;
    font-style: normal; */
  }